.earningsWrapper{
    display: flex;
    flex-direction: column;
    padding: 20px; 
    height: 200px;
    min-width: 140px;
    margin: 3px;
}
.earningsContainer{
    display: flex;
    flex-direction: column;
}